@using System.Text
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Discussions";
    string searchString = ViewData["CurrentFilter"] as string;
    bool myDiscussions = ViewData["MyDiscussions"] != null && (bool)ViewData["MyDiscussions"];

}
@model List<Forum.Models.Discussion> 

<div class="search-container">

    <form asp-controller="Discussions" asp-action="ListDiscussion" method="get">
        <input type="text" name="SearchString" placeholder="Search" value="@searchString" />
        <input type="submit" value="Search" />
        @if (User.Identity.IsAuthenticated)
        {
            <label for="MyDiscussions">
                <input type="checkbox" id="MyDiscussions" name="MyDiscussions" value="true" @(myDiscussions ? "checked" : "")>
                My Discussions
            </label>
        }
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var discussion in Model)
            {
                <div class="card mb-4">
                    <div class="card-body custom-card-body">
                        <a class="text-decoration-none text-dark" asp-action="OpenDiscussion" asp-controller="Comments" asp-route-id="@discussion.Id">
                            <h5 class="card-title">@discussion.name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Posted by @discussion.user on @discussion.dateOfCreation.ToString("g")</h6>
                            <p class="card-text mb-3">@discussion.description</p>
                        </a>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="card-subtitle mb-0 text-muted me-3">Tags: @discussion.category</h6>
                            @if (discussion.user == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="btn btn-edit btn-sm" asp-action="EditDiscussion" asp-controller="Discussions" asp-route-id="@discussion.Id" onclick="event.stopPropagation();">Edit</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="floating-btn-container">
    <a class="btn btn-primary floating-btn" asp-controller="Discussions" asp-action="AddDiscussion">Add</a>
</div>