@{
    ViewData["Title"] = "Home Page";
}

@model List<Forum.Models.Discussion>

<h1 class="text-center my-4">Latest Discussions</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var discussion in Model)
            {
                <a class="card mb-4 text-decoration-none text-dark" asp-action="OpenDiscussion" asp-controller="Comments" asp-route-id="@discussion.Id">
                    <div class="card-body">
                        <h5 class="card-title">@discussion.name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Posted by @discussion.user in @discussion.category on @discussion.dateOfCreation.ToString("g")</h6>
                        <p class="card-text">@discussion.description</p>
                        @if (discussion.user == User.Identity.Name || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-secondary btn-sm" asp-action="EditDiscussion" asp-controller="Discussions" asp-route-id="@discussion.Id" onclick="event.stopPropagation();">Edit</a>
                        }
                    </div>
                </a>
            }
        </div>
    </div>
</div>
